<div class="jumbotron">
  <h1>Welcome to List Maker</h1>
  <p>
    Keep track of your things with as many lists as you want!
  </p>
  <%= link_to "Sign Up" , new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log In" , new_user_session_path, class: "btn btn-primary" %>
</div>
